include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    meta(name="description", content=description)
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    block head

  body(class=pageClass)
    .lines
      .line
      .line
      .line
      .line
      .line
    include ../includes/modules/header
    .wrapper
      .mainblock
        .mainblock__content
          .container
            div(class="products anim" id="products")
              div(class="card" id="prod-arz")
                .imgBx 
                  img(src="assets/img/1.jpg" class="prod-img")
                .contentBx
                  h1(class="proj-name") Arizona RP
                  h3(class="prod-name")= "Ловля имущества"
                  //- h2(class="price") ₽599.#[small 99]
                  .price
                    span.money
                    span.coin
                  a(class="buy") Купить
                  h4(class="prod-info") !{prodInfo}
              div(class="card sale" id="prod-rrp")
                .imgBx 
                  img(src="assets/img/rodina.png" class="prod-img")
                .contentBx
                  h1(class="proj-name") Rodina RP
                  h3(class="prod-name")= "Ловля имущества"
                  .price
                    span.money
                    span.coin
                  a(class="buy") Купить
                  h4(class="prod-info") !{prodInfo}

            div(class="buying-prod anim anim-no-show") 
              .container-box
                .info
                  img(class="product-image")
                  p(class="project-name")
                  p(class="product-name")
                  .price
                    span.money
                    span.coin
                .payment
                  p(class="form-title") Выберите- способ оплаты
                  input(class="payment-method small-icon" title="QIWI" type="button" id="qiwi" style="background-image: url('assets/img/qiwi.png')")
                  input(class="payment-method small-icon" title="Сбер" type="button" id="sber" style="background-image: url('assets/img/sber.png')")
                  input(class="payment-method small-icon" title="ПриватБанк" type="button" id="privatbank" style="background-image: url('assets/img/pb.png')")
                  .requisites
                    div(class="form-qiwi payment-form") 
                      h3(class="form-title") Промокод:
                      input(type="text" placeholder="qiwi" name="promo")
                      h3(class="form-title") Ваш ВКонтакте для связи:
                      input(type="text" placeholder="Ссылка на страницу ВК" name="link_vk")
                      button(class="check-payment") Оформить покупку

                    div(class="form-sber payment-form") 
                      h3(class="form-title") Промокод:
                      input(type="text" placeholder="sber" name="promo")
                      h3(class="form-title") Ваш ВКонтакте для связи:
                      input(type="text" placeholder="Ссылка на страницу ВК" name="link_vk")
                      button(class="check-payment") Оформить покупку
                    div(class="form-privatbank payment-form") 
                      h3(class="form-title") Промокод:
                      input(type="text" placeholder="privatbank" name="promo")
                      h3(class="form-title") Ваш ВКонтакте для связи:
                      input(type="text" placeholder="Ссылка на страницу ВК" name="link_vk")
                      button(class="check-payment") Оформить покупку

                        //- h3(class="form-title warning") ВНИМАНИЕ! Убедитесь, что вы начали переписку с нами
                        //- h3(class="form-title warning") Страница не найдена
                        //- h3(class="form-title sucess") User: Владислав Самойленко
                        



                      //- div(class="form-sber payment-form")
                      //-   h3(class="form-title") Реквезиты:
                      //-   h3(class="number") +79397549977
                      //-   button(class="btn-copy") Копировать
                      //-   h3(class="form-title") Комментарий к платежу:
                      //-   h3(class="number comment") 1234567890
                      //-   button(class="btn-copy") Копировать

                      //-   button(class="check-payment") Проверить оплату

                      //- div(class="form-privatbank payment-form")
                      //-   h3(class="form-title") Реквезиты:
                      //-   h3(class="number")  5168755902362678
                      //-   button(class="btn-copy") Копировать
                      //-   h3(class="form-title") Комментарий к платежу:
                      //-   h3(class="number comment") 1234567890
                      //-   button(class="btn-copy") Копировать

                      //-   button(class="check-payment") Проверить оплату

              //- anim-no-show не показывать

              
              //- div(class="buyings anim")
              //-   form(action="" method="POST")
              //-     label(for="" class="select-name") Выбранный продукт
              //-     div(class="selectgroup-btn btn-success")
              //-       button(type='button' class="product-name") Arizona RP

              //-     label(for="" class="select-name") Выберите способ оплаты
              //-     div(class="selectgroup-btn ")
              //-       button(type='button' id='qiwi' class="method-payment") QIWI
              //-       button(type='button' id='sber' class="method-payment") Сбер
              //-       button(type='button' id='privatebank' class="method-payment") ПриватБанк

    
    include ../includes/modules/footer
